@import "b";
@import "components/navbar";
@import "components/sidebar";
@import "components/home";
@import "components/box.scss";

$light-green:#25904a;
$dark-green: #0f5140;
$red: #dc2f34;
$light-gray: #f2f2f2;
$gray: #767676;
$dark-gray: #313131;
$white: #fff;
$black: #333;

$asap: 'Asap', sans-serif;
$raleway: 'Raleway', sans-serif;

// maps

$colors: (
    "light-green": $light-green, 
    "dark-green": $dark-green,
    "red": $red,
    "gray": $gray,
    "light-gray": $light-gray,
    "dark-gray": $dark-gray,
    "white" : $white
);

$fonts: (
    "asap": $asap,
    "raleway": $raleway
);

@media screen and(min-width: 900px) {
    .w {
        margin: auto 100px;
    }
}

@media screen and(max-width: 899px) {
    .w {
        margin: auto 20px;
        padding-top: 80px;
    }
}

.h {
    font-family: $raleway;
    &-b {
        font-weight: 900;
    }
}

.pointer {
    cursor: pointer;
}

//utilities
.txt {
    &-strong {
        font-weight: bold;
    }

    &-900 {
        font-weight: 900;
    }

    @each $name, $val in $fonts {
        &-#{$name} {
            font-family: $val;
        }
    }
    
    @each $name, $val in $colors {
        &-#{$name} {
            color: $val;
        }
    }
}

.bg {
    @each $name, $val in $colors {
        &-#{$name} {
            background-color: $val;
        }
    }
}

.shadow {
    box-shadow: 0 10px 10px 0px rgba($dark-gray,0.29);
}

//override
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }