<nav id="navbar" class="bg-light-gray text-center">

    <div class="d-flex flex-nowrap align-items-center">
        <div class="col-2 lang flex-fill">
            <select name="#lang" id="lang">
                <option value="da">Dansk</option>
                <option value="en">English</option>
            </select>
        </div>
    
        <div class="flex-fill phone text-center txt-gray bg-light-gray">
            24 timers vagt <br>
            11 22 33 44 55
        </div>
    
        <div class="flex-fill login p-3 text-center bg-red">
            Bruger login
        </div>

        <div class="flex-fill d-md-none">
            <button id="sidebarCollapse" type="button" class="btn btn-dark bg-dark rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>
        </div>


    </div>
    
</nav>