<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="py-4 px-3 mb-4">
    <div class="site-logo">
      <img src="img/logo.svg" alt="">
      
    </div>
</div>
    
    <div class="aamenu">
      <ul>
          <li>
              <a href="about.html">We care</a>
              <ul>
                  <li><a href="#">Miljø</a></li>
                  <li><a href="#">Vi støtter</a></li>
                  <li><a href="#">Mød vores chauffører</a></li>
              </ul>
          </li>
          <li>
              <a href="#">Services</a>
              <ul>
                  <li><a href="#">Temperaturfølsomt gods</a></li>
                  <li><a href="#">Blomster</a></li>
                  <li><a href="#">Logistik</a></li>
                  <li><a href="#">Warehousing</a></li>
                  <li><a href="#">Værksted/vaskehal</a></li>
                  <li><a href="#">Spedition</a></li>
                  <li><a href="#">Emballage</a></li>
                  <li><a href="#">IT</a></li>
              </ul>
          </li>
          <li>
              <a href="#">Nyheder</a>
          </li>
          <li>
            <a href="#">Om os</a>
            <ul>
                <li><a href="#">Profil/hostorie</a></li>
                <li><a href="#">Job/HR</a></li>
                <li><a href="#">Bliv selstændig</a></li>
                <li><a href="#">Kontrolrapporter</a></li>
            </ul>
        </li>
        <li>
          <a href="#">Kontakt</a>
          <ul>
              <li><a href="#">Medarbejdere</a></li>
              <li><a href="#">Afdelinger</a></li>
          </ul>
      </li>
      </ul>
  </div>
</div>
<!-- End vertical navbar -->