<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3 mb-4">
        <div class="site-logo">
            <img src="img/logo.svg" alt="">
        </div>
    </div>
    
    <div class="aamenu">
      <ul>
          <li>
              <a href="about.html">We care 1</a>
              <ul>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
              </ul>
          </li>
          <li class="active">
              <a href="#">Services</a>
              <ul>
                  <li class="active"><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
              </ul>
          </li>
          <li>
              <a href="#">Nyheder</a>
              <ul>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
                  <li><a href="#">We care</a></li>
              </ul>
          </li>
          <li>
            <a href="#">Om os</a>
            <ul>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Kontakt</a>
            <ul>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
                <li><a href="#">We care</a></li>
            </ul>
        </li>
      </ul>
  </div>
</div>
<!-- End vertical navbar -->