<!-- <section class="employees w">
    <div class="box">
        <div class="big-box txt-white bg-dark-gray">
            <div class="box-content">
                <div class="title txt-raleway txt-strong">Mød vores medarbejdere</div>
                <p>Er du den næste, så send os din ansøgning <a href="#">her</a></p>
            </div>
            <div class="shadow dark-gray"> 
                <i class="fal fa-angle-right fa-lg"></i>
            </div>
        </div>
    </div>
        <div class="boxes">
            <div class="employeebox"><img src="img/employee1.png" alt=""></div>
            <div class="employeebox"><img src="img/employee1.png" alt=""></div>
            <div class="employeebox"><img src="img/employee1.png" alt=""></div>
        </div>
</section> -->

<section class="employees w">
    <div class="row">
        <div class="col-lg-4">
            <partial src="boxes/light-green-box.html"></partial>
        </div>

        <div class="col-md-2">
            <div class="img shadow">
                <a href="#"><img src="img/employee1.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="img shadow">
                <a href="#"><img src="img/employee1.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="img shadow">
                <a href="#"><img src="img/employee1.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="img shadow">
                <a href="#"><img src="img/employee1.png" alt=""></a>
            </div>
        </div>
        
        
    </div>
</section>