<!-- <div class="hero">

    <div class="overlay">
        <div class="w">
            <div class="text">
                <h1 class="h-b txt-white">
                    Tæt på kunderne <br>og tæt på hele Europa
                </h1>
            </div>
            <div class="boxes">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam molestias similique commodi deserunt non aliquid, beatae nihil, corrupti eum voluptas tenetur? Asperiores, nemo veniam illo consequatur nihil corporis nisi.
            </div>
        </div>
    </div>

    <div class="video">
        <video src="img/AlexAndersenIntro.mp4" autoplay loop></video>
    </div>

</div> -->

<div class="hero">

    <section class="hero-container">
        <video class="fullscreen" src="img/AlexAndersenIntro.mp4" playsinline autoplay muted loop>
        </video>
      
        <div class="content">
          <div class="w">
            <h1 class="h-b txt-white">Tæt på kunderne <br>og
                tæt på hele Europa </h1>
          </div>
        </div>
        
      </section>
      
      <div class="boxes w">
        <div class="big-boxes">
            <div class="big-box txt-white bg-light-green">
                <div class="box-content">
                    <div class="title txt-raleway txt-strong">Tiltag mod covid-19!</div>
                    <p>Læs her om de titltag vi hos Alex Andersen har gjort for at komme covid-19 til livs.</p>
                </div>
                <div class="shadow light-green"> 
                    <i class="fal fa-angle-right fa-lg"></i>
                </div>
            </div>

            <div class="big-box txt-white bg-dark-green">
                <div class="box-content">
                    <div class="title txt-raleway txt-strong">De sidste 5%</div>
                    <p>På 20 år er forureningen fra lastbiltransport reduceret med 95% i Danmark. Nu fokuserer vi på de sidste 5%.</p>
                </div>
                <div class="shadow dark-green">
                    <i class="fal fa-angle-right fa-lg"></i>
                </div>
            </div>
            
        </div>
        <div class="img-box">
            <a href="#"><img src="img/box.png" alt=""></a>
        </div>
        <div class="txt-box">
            <div class="box-content">
                <div class="title txt-raleway txt-strong">
                    <span class="txt-gray">Fun</span>Facts
                </div>
            <div class="txt">"Hvert sekund sælges der en blomst der er kørt af Alex Andersen"</div>
            </div>
        </div>
    </div>

    <div class="arrow">
        <i class="fal fa-2x fa-angle-down"></i>
    </div>
      
</div>