<section class="news bg-light-gray">
    <div class="w">
        <div class="news-content">

            <div class="archive">
                <div class="headline">Nyheder</div>
                <div class="btn"><a href="#">Åbn nyhedsarkiv</a></div>
            </div>

            <div class="box bg-white pointer shadow">
                <div class="img">
                    <img src="img/news1.png" alt="">
                    <div class="tag bg-white txt-raleway txt-900">Film</div>
                </div>
                <div class="content">
                    <div class="title txt-raleway txt-900">
                        Rosens første 24 timer
                    </div>
                    <div class="txt">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna…
                    </div>
                </div>
                <div class="arrow">
                    <img src="img/gray-arrow.png" alt="">
                </div>
            </div>

            <div class="box bg-white pointer shadow">
                <div class="img">
                    <img src="img/news1.png" alt="">
                    <div class="tag bg-white txt-raleway txt-900">Film</div>
                </div>
                <div class="content">
                    <div class="title txt-raleway txt-900">
                        Rosens første 24 timer
                    </div>
                    <div class="txt">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna…
                    </div>
                </div>
                <div class="arrow">
                    <img src="img/gray-arrow.png" alt="">
                </div>
            </div>

            <div class="box bg-white pointer shadow">
                <div class="img">
                    <img src="img/news1.png" alt="">
                    <div class="tag bg-white txt-raleway txt-900">Film</div>
                </div>
                <div class="content">
                    <div class="title txt-raleway txt-900">
                        Rosens første 24 timer
                    </div>
                    <div class="txt">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna…
                    </div>
                </div>
                <div class="arrow">
                    <img src="img/gray-arrow.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>