<section class="services w">

    <div class="headline txt-raleway">Service, kvalitet og leveringssikkerhed i hele logistikkæden</div>

    <div class="box">
        <div><img src="img/icon1.png" alt=""></div>
        <div class="title">Temperaturfølsomt gods</div>
        <div class="txt">
            Vores unikke køletrailere sørger for at kølekæden ikke brydes, og dine varer leveres i perfekt stand.
        </div>
    </div>

    <div class="box">
        <div><img src="img/icon1.png" alt=""></div>
        <div class="title">Temperaturfølsomt gods</div>
        <div class="txt">
            Vores unikke køletrailere sørger for at kølekæden ikke brydes, og dine varer leveres i perfekt stand.
        </div>
    </div>

    <div class="box">
        <div><img src="img/icon1.png" alt=""></div>
        <div class="title">Temperaturfølsomt gods</div>
        <div class="txt">
            Vores unikke køletrailere sørger for at kølekæden ikke brydes, og dine varer leveres i perfekt stand.
        </div>
    </div>

    <div class="box">
        <div><img src="img/icon1.png" alt=""></div>
        <div class="title">Temperaturfølsomt gods</div>
        <div class="txt">
            Vores unikke køletrailere sørger for at kølekæden ikke brydes, og dine varer leveres i perfekt stand.
        </div>
    </div>

    <div class="box">
        <div><img src="img/icon1.png" alt=""></div>
        <div class="title">Temperaturfølsomt gods</div>
        <div class="txt">
            Vores unikke køletrailere sørger for at kølekæden ikke brydes, og dine varer leveres i perfekt stand.
        </div>
    </div>

</section>